.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0 auto; /* Center the container horizontally */
  min-height: 100vh; /* Minimum height to ensure content is centered */
  text-align: center; /* Center text if needed */
  padding: 20px; /* Add some padding to avoid content touching the edges */
  padding-top: 85px;
}

.home-container h1 {
  font-size: 1.5rem; 
  margin-bottom: 20px; /* Add some space between the heading and the carousel */
}

.home-container .slick-slider {
  width: 100%; 
  max-width: 800px; 
  display: flex;
  justify-content: center; 
  overflow: visible; /* Ensure content is not clipped */
}

.home-container .slick-slide {
  width: 100%; /* Override any inline styles setting width to 0 */
  display: flex; /* Ensure the slides are displayed properly */
  justify-content: center;
  align-items: center;
}

.home-container .slick-slide img {
  max-width: 100%; /* Ensure images are responsive */
  height: auto; /* Maintain aspect ratio */
  display: block;
  border: #000 solid 0.01px; /* Optional: Add a border around the images */
}

.logoTekst {
  width: 750px; /* Pas de breedte aan om het logo groter te maken */
  height: auto; /* Behoud de aspectratio van het logo */
  margin-bottom: 20px; /* Voeg wat ruimte toe onder het logo */
}

/* Change the color of the arrows */
.slick-prev:before,
.slick-next:before {
  color: #000; /* Set the arrow color to black */
  font-size: 24px; /* Optional: Adjust the size of the arrows */
}

/* Optional: Add hover effect */
.slick-prev:hover:before,
.slick-next:hover:before {
  color: #bf7034; /* Change the color on hover */
}

/* Add space below the carousel */
.home-carousel {
  margin-bottom: 200px; /* Add space below the carousel */
}

/* Add space above the info-container */
.info-container {
  margin-top: 200px; /* Add space above the info-container */
}

/* Extra Section Below the Carousel */
.info-container {
  display: flex;
  flex-direction: row;
  margin-top: 40px; /* Add space above the -container */
  padding: 20px; /* Add padding for spacing */
  background-color: #f9f9f9; /* Light background color for contrast */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
}

.info-container h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333; /* Darker text color for the heading */
}

.info-container p {
  font-size: 1rem;
  color: #555; /* Softer text color for the paragraph */
  line-height: 1.6;
  margin-bottom: 20px;
}

.info-container .info-image {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Subtle shadow */
}