footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #004225; /* Soft beige for a warm and cohesive look */
  z-index: 9999; /* Below sidebar to avoid overlap */
  text-align: center; /* Center the text */
  padding: 0px 0; /* Adjust padding as needed */
  color: #f8f6f0; /* Warm brown text color for contrast */
  font-weight: bold; /* Make the text stand out */
}

footer p {
  margin: 0; /* Remove default margin from the <p> element */
}

@media (max-width: 768px) {

  footer p {
    font-size: 0.75rem;
  }
}