.content-container {
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0 auto; /* Center the container horizontally */
    min-height: 100vh; /* Minimum height to ensure content is centered */
    text-align: center; /* Center text if needed */ /* Add some padding to avoid content touching the edges */
    }